<ion-view title="Settings">
  <ion-content padding="true" class="has-header">
    <form id="settings-form13" class="list">
      <label class="item item-input" id="settings-firstname">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input" id="settings-lastname">
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input" id="settings-email">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input" id="settings-interest">
        <input type="text" placeholder="Interests">
      </label>
      <label class="item item-input" id="settings-imageURL">
        <input type="text" placeholder="Image URL">
      </label>
      <label class="item item-input" id="settings-occupation">
        <input type="text" placeholder="Occupation">
      </label>
      <label class="item item-input" id="settings-school">
        <input type="text" placeholder="School">
      </label>
      <label class="item item-input" id="settings-skills">
        <input type="text" placeholder="Skills">
      </label>
      <label class="item item-input" id="settings-userid">
        <input type="text" placeholder="User ID">
      </label>

    </form>
    <a ui-sref="tabsController.profile" class="button button-positive  button-block">Update info</a>
  </ion-content>
</ion-view>
