<ion-view title="Settings" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="settings-form13" class="list">
      <label class="item item-input" id="settings-input16">
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input" id="settings-input17">
        <input type="text" placeholder="School">
      </label>
      <label class="item item-input" id="settings-input14">
        <input type="text" placeholder="Occupation">
      </label>
      <label class="item item-input" id="settings-input13">
        <input type="text" placeholder="Education Level">
      </label>
      <label class="item item-input" id="settings-input15">
        <input type="text" placeholder="Intrests">
      </label>
    </form>
    <a ui-sref="tabsController.profile" id="settings-button14" class="button button-positive  button-block">Update info</a>
  </ion-content>
</ion-view>
