<ion-view view-title="Messages">
  <ion-content padding="true" class="has-header">
    <ion-list id="messages-list9">
      <ion-item class="item-avatar" id="messages-list-item45" ui-sref="tabsController.conversation">
        <h2>David A.</h2>
      </ion-item>
      <ion-item class="item-avatar" id="messages-list-item46" ui-sref="tabsController.conversation">
        <h2>John B.</h2>
      </ion-item>
      <ion-item class="item-avatar" id="messages-list-item47" ui-sref="tabsController.conversation">
        <h2>Steven H.</h2>
      </ion-item>
      <ion-item class="item-avatar" id="messages-list-item48" ui-sref="tabsController.conversation">
        <h2>Ashley V.</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
