<ion-view title="Profile" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="profile-form9" class="list">
      <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="profile-toggle1">Be awesome</ion-toggle>
    </form>
    <div class="list card" id="profile-card21">
      <ion-item class="item-icon-left" id="profile-list-item24">
        <i class="icon ion-ios-game-controller-b-outline"></i>Angel Jimenez</ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="profile-list-item-container6">
        <div id="profile-markdown11">
          <p style="margin-top:0px;color:#000000;">This is my bio blah blah blah
            <strong>:)</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left dark" id="profile-list-item25">
        <i class="icon ion-network"></i>Connect to others!</ion-item>
    </div>
  </ion-content>
</ion-view>